@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-burgundy-50: #fadfaa;
  --color-burgundy-100: #f5de9f;
  --color-burgundy-200: #f5de9f;
  --color-burgundy-300: #bf934f;
  --color-burgundy-400: #bf934f;
  --color-burgundy-500: #bf934f;
  --color-burgundy-600: #5a2537;
  --color-burgundy-700: #5a2537;
  --color-burgundy-800: #34111d;
  --color-burgundy-900: #34111d;
  --color-burgundy-950: #34111d;

  --color-gold-50: #fadfaa;
  --color-gold-100: #f5de9f;
  --color-gold-200: #f5de9f;
  --color-gold-300: #f5de9f;
  --color-gold-400: #bf934f;
  --color-gold-500: #bf934f;
  --color-gold-600: #bf934f;
  --color-gold-700: #bf934f;
  --color-gold-800: #bf934f;
  --color-gold-900: #bf934f;
  --color-gold-950: #bf934f;

  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif !important;
}
